
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    background-color: #d1cbcb;
    height:100vh; 
}

 .time1{      
    background-color: #1e1e1e;
    width: 200px;
    height: 250px; 
    box-shadow: 0 0 20px rgba(46, 29, 152, 0.6);
    border-radius: 15px 15px 0 0;
}

.time2{   
    margin-top: 30px;   
    background-color: #1e1e1e;
    width: 200px;
    height: 250px; 
    box-shadow: 0 0 20px rgba(255, 0, 174, 0.6);
    border-radius: 15px 15px 0 0;
}
.nome-do-time{
    text-align: center;
    font-size: 25px;
    color: white
}

.pontos{
    height: 60%;
    background-color: #363535;
    text-align: center;
    font-size: 100px;
    font-style: normal;
    padding-top: 20px;
    color:#cccccc;
}

.btn-up-time1, .btn-up-time2, .btn-down-time1, .btn-down-time2{
    width: 50px;
    height: 50px;
    box-shadow: 0 0 20px rgba(226, 221, 225, 0.6);
}

.botoes{
    display: flex;
    justify-content: space-around;
    background-color:#322a2a;
    height: 70px;
    padding: 10px
}

.btn-zera-placar{
    width: 200px;
    height:50px;
    color: white;
    font-size:20px;
    background-color: rgb(217, 105, 105);
    margin-top: 10px;
    border-radius:10px;
}

.btn-up-time1:hover {
    cursor: pointer;
    background-color: rgb(147, 199, 36);
}

.btn-down-time1:hover {
    cursor:pointer;
    background-color: rgb(122, 146, 70);
}

.btn-up-time2:hover {
    cursor:pointer;
    background-color: rgb(15, 179, 197);
}

.btn-down-time2:hover {
    cursor:pointer;
    background-color: rgb(26, 107, 114);
}

.btn-zera-placar:hover{
    cursor:pointer;
    background-color:rgb(248, 15, 15)
}
